/*GENERAL STYLES*/

body {
	color: #666666;
}

.container-fluid {
	padding: 0;
}

.indent {
	margin: 0 200px;
}

/*HEADER STYLES*/

header {
	background-color: #CCCCCC;
	border-bottom: 1px solid #999999;
	overflow: auto;
}

.logo {
	width: 115px;
	height: auto;
	padding: 8px 0 0;
	padding: 20px 0px;
}

/*TEXT STYLES*/

.image-text {
	color: #FFFFFF;
	position: absolute; 
	left: 10%; 
	width: 75%;
	top: 50%;
}

#title {
	color: #2187C7;
}

#title-container {
	border-bottom: 1px solid #999999;
}

/*IMAGE STYLES*/

div #links-container .link-image  {
	position: relative;
	width: 100%;
}



/*#promise-container {
	background: url('../images/students-2.png');
}

#tutors-container {
	background: url('../images/students-1.png');
}*/

/*BUTTON STYLES*/

button {
	font-size: 20px;
	border: none;
	border-radius: 30px;
	color: #FFFFFF;
	padding: 5px 30px;
}

.btn-blue {
	background-color: #2187C7 !important;
}