/*GENERAL STYLES*/

body {
	color: #666666;
}

.container-fluid {
	padding: 0;
}

.indent {
	margin: 0 200px;
}

/*HEADER STYLES*/

header {
	background-color: #DCDCDC;
	overflow: auto;
	box-shadow: 0 0 5px 0 #999999;
}

.logo {
	width: 115px;
	height: auto;
	padding: 8px 0 0;
	padding: 15px 0px;
}

/*TEXT STYLES*/

#intro-text,
#main-text p {
	margin-top: 20px;
	margin-bottom: 10px;
}

.link-image-text {
	color: #FFFFFF;
	position: absolute; 
	left: 10%; 
	width: 75%;
	top: 50%;
	padding-bottom: 20px;
}

#title {
	color: #2187C7;
	margin-top: 30px;
	margin-bottom: 20px;
}

#title-container {
	border-bottom: 1px solid #DCDCDC;
	padding: 0;
	margin: 0 15px;
}

/*IMAGE STYLES*/

div #links-container .link-image  {
	position: relative;
	width: 100%;
}

.results-list {
	list-style: none;
	margin-top: 40px;
}

/*BUTTON STYLES*/

button {
	font-size: 20px;
	border: none;
	border-radius: 30px;
	color: #FFFFFF;
	padding: 5px 30px;
	margin-top: 40px;
}

.btn-blue {
	background-color: #2187C7 !important;
}