/*GENERAL STYLES*/

body {
	color: #666666;
}

.container-fluid {
	padding: 0;
}

.indent {
	margin: 0 150px;
}

/*HEADER STYLES*/

header {
	background-color: #DCDCDC;
	overflow: auto;
	box-shadow: 0 0 5px 0 #999999;
}

.logo {
	height: auto;
}

.logo-size {
	width: 115px;
	padding: 15px 0;
}

/*TEXT STYLES*/

.arrow {
	font-size: 32px;
	margin-left: 10px;
}

#intro-text,
#main-text p {
	margin-top: 20px;
	margin-bottom: 10px;
}

.link-image-text {
	color: #FFFFFF;
	position: absolute; 
	left: 10%; 
	width: 75%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

}

#title {
	color: #2187C7;
	margin-top: 30px;
	margin-bottom: 20px;
}

#title-container {
	border-bottom: 1px solid #DCDCDC;
	padding: 0;
	margin: 0 15px;
}

/*IMAGE STYLES*/

div #links-container .link-image  {
	position: relative;
	width: 100%;
	margin-top: 20px;
}

#film-id {
	padding: 0;
	height: auto;
	width: 100%;
	margin-top: 30px;
}

#film-image-container {
	height: 500px;
	overflow: hidden;
}

#results-container {
	display: none;
}

/*BUTTON STYLES*/

.blue {
	background-color: #2187C7 !important;
}

input[class="button-size"] {

}

input[type="button"] {
	font-size: 20px;
	border: none;
	border-radius: 30px;
	color: #FFFFFF;
	padding: 5px 30px;
	margin-top: 40px;
}

input[type="button"]:focus {
	outline: none;
}

.red {
	background-color: #F54B4B !important;
}


@media screen and (max-width: 1200px) {

	.indent {
		margin: 0 100px;
	}

}

@media screen and (max-width: 992px) {

	.indent {
		margin: 0 50px;
	}

}

@media screen and (max-width: 768px) {
	
	.indent {
		margin: 0 25px;
	}

}

@media screen and (max-width: 544px) {

	/*GENERAL STYLES*/

	.indent {
		margin: 0 15px;
	}

	/*HEADER STYLES*/

	.logo-size {
		width: 80px;
		padding: 10px 0;
	}

	/*TEXT STYLES*/

	.arrow {
		font-size: 24px;
		margin-left: 7px;
	}

	.link-title {
		font-size: 18px;
	}

	h1#title {
		font-size: 28px;
	}

	h4#intro-text {
		font-size: 14px;
	}

	p#main-text {
		font-size: 12px;
	}

	#promise-text,
	#tutor-text {
		display: none;
	}

}